<div class="aboutus">
	<%= form_tag do %>
		<span style="color:black">
		  	<%= label_tag(:my_name,"Type your query") %>
		  	<%= hidden_field(:searchloc,"tedhi Puila",id: "addresss",value: "Tedhi Pulia") %>	  	</span>
	  	<br>
		<%= text_area(:my_name,'asdas',size: '80x8',placeholder: "Enter your text") %>
  		</br>
  		</br>
 	 	<%= submit_tag("submit",class: "btn btn-primary btn-success") %>
	<% end %>
		<br>

			Or visit us at:  FF-10, Janki Plaza, Janki Puram, Lucknow. Pin#226021||Phone No. 0522-4109357
			Or Call our associate: Fareed Uddin Ahmad	
		          +91-8896510392
		          <br>
		          <br>
		          <h1>
		          <span style="color:black">
		          We Are here 
		          </span>
		          </h1>
		          <br>
		          <div id='map-canvas' style="width:883px;height:710px">
</div>

</div>

		          
