<br>
<br>
<br>
<br>
<div class="row">
<div class="col-md-10 col-md-offset-1">
<span class="beech">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
             <li data-target="#carousel-example-generic" data-slide-to="3" ></li>
            <li data-target="#carousel-example-generic" data-slide-to="4"></li>
            
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <%= image_tag('11.jpg',class: "img-responsive") %>
              
            </div>
            
          
            <div class="item ">
              <%= image_tag('22.jpg',:size=>'1900x600',class: "img-responsive") %>
            </div>
          
            <div class="item ">
              <%= image_tag('33.jpg',class: "img-responsive") %>
            </div>
            
             <div class="item ">
              <%= image_tag('44.jpg',class: "img-responsive") %>
              </div>
              <div class="item ">
              <%= image_tag('55.jpg',class: "img-responsive") %>
              
            </div>
        </div>
          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
        </div>
    </span>
    </div>
</div>
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
<!-- ss -->


      <!-- START THE FEATURETTES -->
      <div class=" row card">
      <div class="col-md-10 col-md-offset-2">

          <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-4 ">
                  <h2 class="featurette-heading">Who are we</h2>
                  <p class="lead">Managineers E-Markets is a venture of Managineers Group which has been effectively catering and supporting businesses through Business & IT consulting and educational services. With this venture, we are entering the E- Commerce market where our focus is to provide internet based marketing services to our customers.</p>
                 
                </div>
                <div class="col-md-4">
                  <%= image_tag('logo.jpg',:size=> "420x200") %>
                </div>
            <div class="row featurette">
                <div class="col-md-9 ">
            <hr>
            </div>
            </div>
            </div>


            

          <div class="row featurette">
            <div class="col-md-4 ">
                 <%= image_tag('whoarewe.jpg',:size=> "300x200") %>
            </div>
            
            <div class="col-md-5 ">
              <h2 class="featurette-heading">Vision</h2>
              <p class="lead ">The vision of our company is an achievable, purpose-led model that has a real and substantial reflect on our deliveries and our conduct. We are committed to strive and ensure that our offerings are revolutionary, ahead of the times, benchmarked against best global trends & practices and built around our esteemed customers' needs.</p>
            </div>
          <div class="row featurette">
                <div class="col-md-9 ">
            <hr>
            </div>
            </div>
          </div>

          

          <div class="row featurette">
            <div class="col-md-5 ">
              <h2 class="featurette-heading">Mission</h2>
              <p class="lead ">To make effective use of cyberspace for data mining and enforcing our analytics tools, through which we could generate up-to-date information, extract the potential market and route the correct information to the correct person at the correct time.</p>
            </div>
            <div class="col-md-4">
    <%= image_tag('q2.jpg',:size=> "350x200") %>
            </div>
            <div class="row featurette">
                <div class="col-md-9 ">
            <hr>
            </div>
            </div>
            </div>
  

          

          <!-- /END THE FEATURETTES -->


          <!-- FOOTER -->
          <footer>
            <p class="pull-right"><a href="#">Back to top</a></p>
            <p>&copy; Managineers Group Of Companie, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
          </footer>

</div>
    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
 
